{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/about.css' %}">
<!-- Facebook og properties -->
<meta property="og:url" content="https://www.chamberlinsax.com/about" />
<meta property="og:title" content="{{ about.image_tag }}" />
<meta property="og:description" content="{{ about.bio }}"/>
<meta property="og:image" content="http://www.chamberlinsax.com/{% static 'images/about.jpg' %}"/>
<!-- End og properties -->
<!-- Twitter cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ChamberlinSax" />
<meta name="twitter:creator" content="@__JayWelborn__"/>
<meta name="twitter:title" content="{{ about.image_tag }}" />
<meta name="twitter:description" content="{{ about.bio }}" />
<meta name="twitter:image" content="http://www.chamberlinsax.com/{% static 'images/about.jpg' %}" />
<meta name="twitter:image:alt" content="{{ about.image_tag }}"/>
<!--End Twitter Cards-->
{% endblock %}
{% block title %}Mike Chamberlin: About{% endblock %}
{% block content %}
<div class="about">
    <a class="polaroid" title="{{ about.image_tag }}">
        <img class="portrait" src="{% static 'images/about.jpg' %}" alt="{{ about.image_tag }}"/>
    </a>
    <div class="about-info">
        <i class="pin"></i>
        <div class="note">
            <h1 class="center">{{ about.header }}</h1>
            <div id="bio">
                <p>
                    {{ about.bio }}
                </p>
                {% if about.bio_paragraph_2 %}
                <p>
                    {{ about.bio_paragraph_2 }}
                </p>
                {% endif %}
                {% if about.bio_paragraph_3 %}
                <p>
                    {{ about.bio_paragraph_3 }}
                </p>
                {% endif %}
            </div>
            <p id="update">
                Date Updated: {{ about.pub_date }}
            </p>
        </div>
    </div>
</div>
{% endblock %}