{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/about.css' %}">
{% endblock %}
{% block content %}
<div class="about">
    <a class="polaroid" title="{{ about.image_tag }}">
        <img class="portrait" src="{% static 'images/about.jpg' %}" alt="{{ about.image_tag }}"/>
    </a>
    <div class="about-info">
        <i class="pin"></i>
        <div class="note">
            <h1 class="center">{{ about.header }}</h1>
            <div id="bio">
                <p>
                    {{ about.bio }}
                </p>
                {% if about.bio_paragraph_2 %}
                <p>
                    {{ about.bio_paragraph_2 }}
                </p>
                {% endif %}
                {% if about.bio_paragraph_3 %}
                <p>
                    {{ about.bio_paragraph_3 }}
                </p>
                {% endif %}
            </div>
            <p id="update">
                Date Updated: {{ about.pub_date }}
            </p>
        </div>
    </div>
</div>
{% endblock %}