{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/contact.css' %}">
<!-- Facebook og properties -->
<meta property="og:url" content="https://www.chamberlinsax.com/contact" />
<meta property="og:title" content="{{ contact_info.title }}" />
<meta property="og:description" content="If you're interested in booking a performance or a lecture, let me know."/>
<meta property="og:image" content="http://www.chamberlinsax.com{% static 'images/contact.jpg' %}"/>
<!-- End og properties -->
<!-- Twitter cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ChamberlinSax" />
<meta name="twitter:creator" content="@__JayWelborn__"/>
<meta name="twitter:title" content="{{ contact_info.title }}" />
<meta name="twitter:description" content="If you're interested in booking a performance or a lecture, let me know." />
<meta name="twitter:image" content="http://www.chamberlinsax.com{% static 'images/contact.jpg' %}" />
<meta name="twitter:image:alt" content="{{ contact_info.title }}"/>
<!--End Twitter Cards-->
{% endblock %}
{% block title %}Mike Chamberlin: Contact{% endblock %}
{{% block content %}
<div class="contact">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <a class="polaroid" title="{{ contact_info.title }}">
                <img class="portrait" src="{% static 'images/contact.jpg' %}" alt="{{ contact_info.title }}"/>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <form action="" method="post" class="contact-form"
            style="background-image: url({% static 'home/eggshell.jpg' %})">
                {% csrf_token %}
                <ul class="contact">
                    {{ form.as_ul }}
                    <li><input type="submit" value="Email Me!"></li>
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}