body {
    margin: 0px;
}

.navbar-brand {
    margin-top: -11px;
}

nav a {
    font-family: 'Roboto';
}

.jumbotron {
    margin-top: 50px;
    height: calc(100vh - 50px);
    background-image: url('/../static/images/landing-page.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Rock Salt', sans-serif;
    margin-bottom: -20px;
}

.jumbotron-text {
    text-shadow: 8px 8px 14px #000;
    text-align: center;
}

.jumbotron h1 {
    font-size: 700%;
}

.jumbotron p {
    font-size: 400%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
    background-color: #222;
    border-color: #080808;
    opacity: .6;
}

footer .footer-text{
    opacity: 1;
    color: white;
}

footer .footer-text a{
    color:
}