body {
    background-image: url('/../static/images/dark_wood.png');
    margin-top: -5px;
}

.alert {
    margin-top: -30px;
}

.contact {
    margin-top: 100px;
}

img.portrait {
    display: block;
    width: 100%;
}

.contact a.polaroid {
    width: 472px;
    max-width: 95%;
    background: white;
    display: inline;
    float: left;
    margin: 0px 15px 24px;
    padding: 15px 15px 50px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    z-index:0;
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    border-radius: 3px;
}

a.polaroid:after {
    color: #333;
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
    content: attr(title);
    position: relative;
    top:15px;
}

.contact-form {
    overflow: hidden;
    margin-bottom: 20px;
    transform: rotate(-1deg);
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    border-radius: 3px
}

.contact-form ul {
    margin: 20px;
    list-style-type: none;
    margin-right: 50px;
}

.contact-form label {
    font-family: 'Special Elite', sans-serif;
    color: #333;
    padding-top: 15px;
}

.contact-form input[type=text], input[type=email], textarea {
    display: block;
    border: 1px solid #BBB;
    margin: 2px;
    padding: 4px 4px 4px 8px;
    border-radius: 5px;
    max-width: 100%;
    min-width: 100%;
    background-color: rgba(255, 255, 255, .3);
}

.contact-form textarea {
    max-height: 150px;
}

.contact-form input[type=checkbox] {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 8px;
}

.contact-form input[type=submit] {
    font-family: 'Roboto Condensed';
    border-radius: 5px;
    margin-top: 8px;
    color: #CCC;
    letter-spacing: 1px;
    padding: 4px 8px 6px 10px;
    background-color: #333;
    border: 0 none;
}