body {
    margin-top: 50px;
    background-image: url('/../static/images/dark_wood.png');
}

#audio_header {
    /* position element below navbar */
    margin-top: 30px;
    /* center h1 within element regardless of resizing */
    display: flex;
    align-items: center;
    justify-content: center;
    /* center element on page */
    margin-left: auto;
    margin-right: auto;
    /* set dimensions */
    min-height: 100px;
    width: 400px;
    max-width: 90%;
    /* shadow for depth */
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    border-radius: 3px
    /* ensure children can be positioned, and rotate slightly */
    position: relative;
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
}

#audio_header:before{
    content: "";
    display: block;
    width: 100px;
    height: 30px;
    position: relative;
    top: 20px;
    margin: auto;
    background: rgba(255,255,200,0.6);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    position: absolute;
    top: -15px;
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    border-radius: 1px;
}

#audio_header h1 {
    font-family: 'Special Elite', serif;
}

#sample-list {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sample {
    margin: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33% - 17px);
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    border-radius: 3px
}

.sample .sample-image {
    height: 160px;
    width: 160px;
    margin-right: 10px;
    float: left;
    border-radius: 3px 0px 0px 3px;
}

.sample .title, .sample .pub_date {
    font-family: 'Roboto Condensed', sans-serif;
}

.sample .title {
    margin-top: 30px;
    font-weight: bold;
    font-size: 135%;
    text-align: center;
    letter-spacing: 1px;
    text-wrap: no-wrap;
}

.sample .pub_date {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 90%;
    color: #666;
    font-style: italic;
}

.sample audio {
    max-width: 50%;
}

#coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
    width: 100%;
    font-family: 'Special Elite', serif;
}

#coming-soon h1 {
    font-size: 10vh;
    padding: 50px 100px 40px 100px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    border-radius: 3px
}